@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

    <h1>The Water Project</h1>

    @foreach (Project p in Model.Projects)
    {
        <partial name="ProjectSummary" model="p"/>
    }


<!-- Dynamically built tag helper that builds divs and a tags for pages -->
    <div page-model="@Model.PaginationInfo" page-action="Index" page-class-enabled="true" page-class="btn" 
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
